{% extends "base.html" %}
{% block extra_head %}
{{ form.media }}
{% endblock %}
{% block content %}

<div class="container">
<form id="NoteForm" enctype="multipart/form-data" action="" method="post">
<div id="ajaxwrapper">
        {% csrf_token %}


        {% for field in form %}

            {{ field.label_tag }}
            {{ field }}
            <div class="errorfield">{{ field.errors }}</div>

        {% endfor %}


        <p>
            <input type="submit" value="Add" id="id_send"/>
            <a href='/'>Cancel</a>
        </p>

</div>
</form>
 </div>

{% endblock content %}