{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>7webpages test</h1>
    <div class="row pull-left">
    {% for note in notes %}
        <div class="row">

                {% if note.photo %}
                    <img src="{{ note.photo.url }}" alt="Photo" />
                {% endif %}

            <p>{{ note.text }}</p>
        </div>
    {% endfor %}
    </div>

    <div class="row pull-right">
        <a href="/add">add note</a><p><a href="/check">check external widget</a></p>
    </div>

 </div>
    <hr>
<p>inclusion tags</p>
{% load my_tags %}
{% note_by_id "1" %}
<hr>
<script type="text/javascript" src="http://localhost:8000/widget"></script>
<div id="widget"></div>

{% endblock content %}